@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url(inter.woff2) format('woff2');
}

* {
    font-family: 'Inter', sans-serif;
    font-variation-settings: 'slnt' 0, 'wght' 600;
    padding: 0;
    margin: 0;
    color: #bbb;
    -webkit-user-select: none;
    user-select: none;
}

html {
    font-size: 12px;
}

html,
body,
#app {
    height: 100%
}

body {
    background: #222;
}

html,
body {
    overscroll-behavior-y: none;
    position: fixed;
    overflow: hidden;
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.inline-flex-center {
    display: inline-flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.flex {
    display: flex;
}

.o-upl__draggable {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
}

.o-chk--transparent .o-chk__check {
    background-color: #333;
    border: 0;
}

body .o-slide__track {
    background: #333;
}
body .o-slide__fill--info {
    background: #b6b91c;
}
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border-radius: 16px;
}
::-webkit-scrollbar-button {
    display:none;
}